<div class="blue-row" (contextmenu)="projectsTrigger.openMenu();" #projectsTrigger="matMenuTrigger"
  [matMenuTriggerFor]="projectsContext">
  <mat-expansion-panel #projectBar [class]="opened ? 'switch-opened' : 'switch-closed mat-elevation-z0'" (opened)="opened = true"
    (closed)="opened = false" (click)="$event.stopPropagation()" hideToggle>
    <mat-expansion-panel-header [class]="opened ? 'switch-header-opened header-image' : 'switch-header-closed'"
      [collapsedHeight]="'40px'" [expandedHeight]="'100px'">
      <mat-panel-title class="blue-row">
        <span mat-button class="switch-icon" (click)="openAdministrationWindow(); $event.stopPropagation();">
          <fa-icon icon="shield-alt" size="lg"></fa-icon>
        </span>
        <span mat-button class="switch-icon" style="margin-left: -20px;"
          (click)="openProjectsWindow(); $event.stopPropagation();">
          <fa-icon icon="bolt" size="lg"></fa-icon>
        </span>

        <span *ngIf="!loaded" class="blue-flex-center">
          <mat-progress-bar mode="indeterminate" style="width: 200px;"></mat-progress-bar>
        </span>

        <span *ngIf="loaded"
          [class]="opened ? 'switch-title-opened' : 'switch-title'">{{getSwitchProjectName()}}</span>

        <span mat-button class="switch-menu-icon" [matMenuTriggerFor]="projectsContext"
          (click)="$event.stopPropagation();">
          <fa-icon icon="bars" size="lg"></fa-icon>
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngIf="opened" style="background-color: white !important; padding: 30px; opacity: 99%;">
      <div class="switch-image">
        <span style="font-size: 30px;"><b>{{project.name}}</b></span>
        <div class="blue-row">
          <div class=blue-column *ngIf="superProjects.length > 0">
            <br><span>sottoprogetto di <span style="font-size: 20px;"><b>{{superProjects[superProjects.length-1].name}}</b></span></span>
            <span>capoprogetto: <span style="font-size: 20px;"><b>{{superProjects[0].name}}</b></span></span>
          </div>
        </div>
      </div>
    </div>

  </mat-expansion-panel>
</div>

<mat-menu #projectsContext="matMenu">
  <div class="blue-context-menu">
    <div *ngFor="let button of contextButton">
      <button mat-button *ngIf="button.type === 'main'" class="project-button"
        (click)="getContextAction(button, $event, projectList);" [disabled]="getContextDisabled(button)"
        [matTooltip]="getContextTooltip(button)" matTooltipPosition="right">
        <span class="project-icon">
          <button mat-icon-button>
            <fa-icon [icon]="getContextIcon(button)" size="lg">
            </fa-icon>
          </button>
        </span>
        <span>{{getContextTitle(button)}}</span>
        <span *ngIf="button.tag === tags.CONTEXT_SUPERPROJECTS || button.tag === tags.CONTEXT_SUBPROJECTS || button.tag === tags.CONTEXT_MIDDLEPROJECTS"
          style="float: right; margin: 2px;">{{getContextCount(button)}}</span>
      </button>
      <mat-expansion-panel #projectList="matExpansionPanel" style="width: 100%;" hideToggle>
        <button mat-button *ngFor="let projectButton of getContextList(button);" class="project-button"
          (click)="setProject(projectButton, projectList);" [disabled]="project === projectButton" [matTooltip]="getContextProjectTooltip(projectButton)"
          matTooltipPosition="right">
          <span>{{getContextProjectName(projectButton)}}</span>
          <span *ngIf="!projectButton.subprojectOf"
            class="project-suffix">{{gbl(labels.PROJECT_LEADERPROJECT)}}</span>
        </button>
      </mat-expansion-panel>
      <mat-divider *ngIf="button.type === 'line'"></mat-divider>
    </div>
  </div>
</mat-menu>
