<mat-accordion style="min-width: 100% !important" multi>
  <mat-expansion-panel [class]="panelOpenState ? 'search-round' : 'search-round mat-elevation-z0'" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false" (click)="$event.stopPropagation()">
    <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'90px'"
      [style]="panelOpenState ? '' : 'background-color:#f5f5f5; border: solid 0,1px darkorange;'">

      <mat-panel-title style=" display: flex; flex-direction: row;">
        <fa-icon icon="bolt" size="3x" style="color: var(--blue-main-color); margin: 10px !important;"></fa-icon>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <br>
    <h4>Anagrafica del profilatore</h4>

  </mat-expansion-panel>
</mat-accordion>
