<div class="background-image">
  <form class="login-square mat-elevation-z20">

    <div class="blue-row" style="align-items: center;">

      <img src="assets/logo-v4.png" alt="outblue" style="height: 250px;" title="STOT Connector / Collector">

      <img src="assets/text-v4.png" alt="outblue" style="height: 230px; margin-left: -50px;"
        title="Outblue">

<!--
      <div style="background-color: white; padding: 60px 200px; margin-left: 150px; border-radius: 300px; align-items: center;
      display: flex;
      justify-content: center;">
        <app-blue-login-form></app-blue-login-form>
      </div>
<app-blue-login-contacts></app-blue-login-contacts>
    </div>
  -->

  <div class="login-circle">
        <app-blue-login-form></app-blue-login-form>
      </div>
    </div>

  </form>
</div>
