.background-image {
  height: auto;
  width: 100%;
}
.background-image::after {
  content: "";
  background: url("../../assets/login/bolt-wall.jpg");
  background-size: cover;
  top: -150px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  z-index: -1;
}

.login-square {
  height: 200px;
  width: 100%;
  opacity: 99%;
  margin-top: 5%;
}

.login-divider {
  margin: 0px 100px;
}
