<div class="blue-no-select background-image">

  <form class="blue-flex-center login-square mat-elevation-z20">

    <div class="blue-row">

      <img class="login-logo" src="assets/outblue-text-4.png" alt="outblue" style="height: 130px;" title="Outblue">

      <mat-divider vertical class="login-divider"></mat-divider>

      <div class="blue-flex-center" style="margin: -5px 20px;">
        <app-login-form></app-login-form>
      </div>

      <mat-divider vertical class="login-divider"></mat-divider>

      <div class="blue-flex-center">
        <app-login-contacts></app-login-contacts>
      </div>

    </div>

  </form>

</div>
