<div class="blue-no-select background-image">

  <form class="blue-flex-center login-square  mat-elevation-z20">

    <div class="blue-row">

      <img src="assets/logo-blu.png" style="height: 140px;">

      <img src="assets/outblue-text-4.png" style="height: 130px;">

      <!--<span class="login-logo">{{names.OUTBLUE_LOGO}}</span>-->

      <mat-divider vertical class="login-divider"></mat-divider>

      <div class="blue-flex-center" style="margin: -5px 20px;">
        <app-login-form></app-login-form>
      </div>

      <mat-divider vertical class="login-divider"></mat-divider>

      <div class="blue-flex-center">
        <app-login-contacts></app-login-contacts>
      </div>

    </div>

  </form>

</div>
