<div class="hf-column" style="color: var(--blue-main-color);">
  <span class="hf-flex-center" style="margin: 20px 70px;">
    <fa-icon icon="folder-open" size="4x"></fa-icon>
    <fa-icon icon="times" size="2x" style="margin: 10px;"></fa-icon>
  </span>
  <span style="font-size: medium;">{{ params.text | translate }}</span>
  <!--<span style="margin: 20px;">
    <button mat-button (click)="$event.stopPropagation();">
      Nuovo progetto
      <fa-icon icon="plus" size="2x"></fa-icon>
    </button>
  </span>-->
</div>
