<div class="blue-row">

  <div class="blue-column">
    <img src="assets/hf-logo-no-border.png" alt="outblue" style="height: 130px;" title="Outblue">
  </div>

  <div class="blue-column blue-flex-center" style="display: none; margin-left: 20px;">

      <button mat-icon-button>
        <fa-icon [icon]="fb" size="2x"></fa-icon>
      </button>
      <button mat-icon-button>
        <fa-icon [icon]="ig" size="2x"></fa-icon>
      </button>

    <!--<img src="assets/hf-text-wede-2.png" alt="outblue" style="height: 80px;" title="Outblue">-->

    <!-- <br><br>

    <fa-icon icon="user-tie" size="lg" title="Marco Ambrosi"></fa-icon>
    <b>Marco Ambrosi</b>
    @4mbromark
    <em>clsupproject@gmail.com</em>-->

  </div>



</div>
