<mat-toolbar class="blue-topbar blue-no-select background-image mat-elevation-z5">

  <img src="assets/logo-v4.png" alt="STOT"
    style="height: 40px; margin-top: auto; margin-bottom: auto;">
  <img src="assets/text-red-v2.png" alt="STOT"
    style="height: 40px; margin-top: auto; margin-bottom: auto; margin-left: 0px;">

  <span class="blue-flex-center" style="width: 100%;">
    <div style="height: 40px;">
      <app-project-switch></app-project-switch>
    </div>
  </span>

  <app-user-actions></app-user-actions>

</mat-toolbar>
