<mat-toolbar class="blue-topbar mat-elevation-z5">

  <img src="assets/logo-v4.png" alt="STOT"
    style="height: 40px; margin-top: auto; margin-bottom: auto;">
  <img src="assets/text-red-v2.png" alt="STOT"
    style="height: 40px; margin-top: auto; margin-bottom: auto; margin-left: 0px;">

  <span class="blue-spacer"></span>

  <div style="height: 40px;">
    <app-project-switch></app-project-switch>
  </div>

  <span class="blue-spacer"></span>

  <app-user-actions></app-user-actions>

</mat-toolbar>
