<div class="hf-100-100 hf-column hf-flex-center">
  <div class="hf-w100">
    <div *ngFor="let button of buttons" [ngSwitch]="button.type"
      [class]="selectedButton === button ? 'selected-outbox' : ''">
      <button mat-button *ngSwitchCase="tags.MAIN" [class]="selectedButton === button ? 'selected-button' : 'button'"
        (click)="setSidebarSelectedButton(button);" [routerLink]="username + '/' + button.routerlink"
        [matTooltip]="button.tooltip | translate" matTooltipPosition="right">
        <span *ngIf="sidebar.extended" [class]="selectedButton === button ? 'selected-thing' : 'selected-thing-not'">
          <fa-icon icon="angle-right" size="lg"></fa-icon>
        </span>
        <span [class]="sidebar.extended ? 'icon' : 'icon-not-extended'">
          <button mat-icon-button [class]="selectedButton === button ? 'selected-icon' : ''">
            <fa-icon [icon]="button.icon" size="lg"></fa-icon>
          </button>
        </span>
        <span *ngIf="sidebar.extended">{{ button.title | translate }}</span>
      </button>

      <mat-divider *ngSwitchCase="tags.LINE" class="divider"></mat-divider>
    </div>
  </div>

  <div class="hf-w100">
    <div *ngFor="let button of buttonsTool" [ngSwitch]="button.type">
      <button mat-button *ngSwitchCase="tags.MAIN" class="leftbar-bottom-line" (click)="getSidebarAction(button);"
        [matTooltip]="getSidebarTooltip(button) | translate" matTooltipPosition="right">
        <span *ngIf="sidebar.extended">{{ getSidebarTitle(button) | translate }}</span>
        <button mat-icon-button>
          <fa-icon [icon]="getSidebarIcon(button)" [spin]="button.tag === tags.SIDEBAR_RELOAD && !loaded" size="lg">
          </fa-icon>
        </button>
      </button>

      <span #searchTrigger [matMenuTriggerFor]="search"></span>
      <span #filterTrigger [matMenuTriggerFor]="filter"></span>

      <mat-expansion-panel #showButtons="matExpansionPanel" *ngIf="button.show" class="hf-w100 mat-elevation-z0" style="background-color: aliceblue" hideToggle>
        <button *ngFor="let showButton of button.show" mat-button class="leftbar-bottom-line" (click)="getSidebarAction(showButton);"
          [matTooltip]="getSidebarTooltip(showButton) | translate" matTooltipPosition="right">
          <span *ngIf="sidebar.extended">{{ getSidebarTitle(showButton) | translate }}</span>
          <button mat-icon-button>
            <fa-icon [icon]="getSidebarIcon(showButton)" size="lg"></fa-icon>
          </button>
        </button>
      </mat-expansion-panel>

      <mat-divider *ngSwitchCase="tags.LINE" class="divider"></mat-divider>
    </div>
  </div>
</div>

<mat-menu #search="matMenu" xPosition="after" yPosition="below">
  <div class="blue-tool-menu">
    Ricerca
  </div>
</mat-menu>

<mat-menu #filter="matMenu" xPosition="after" yPosition="below">
  <div class="blue-tool-menu">
    Filtri
  </div>
</mat-menu>
