.background-image {
  height: auto;
  width: 100%;
}
.background-image::after {
  content: "";
  background: url("../../assets/login/login-wall.jpg");
  background-size: cover;
  top: -150px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  z-index: -1;
}

.login-square {
  height: auto;
  width: 20%;
  min-width: 400px;
  max-width: 500px;
  opacity: 100%;
  background-color: white;
}

.login-divider {
  width: 40%;
}

.login-logo {
  font-family: Outblue;
  color: var(--blue-main-color);
  font-size: 80px;
  margin-left: 10px;
  font-weight: 900;
}

