<div class="hf-100-100 hf-flex-center hf-spacer-layout hf-noselect background-image">

  <span class="hf-spacer"></span>

  <form class="hf-column hf-flex-left login-square mat-elevation-z20">
    <div style="height: 160;">
      <img class="hf-m20" src="assets/outblue-text.png" style="height: 120px;">
    </div>

    <mat-expansion-panel #loginForm="matExpansionPanel" class="hf-100-100" [expanded]="false">
      <app-login-form></app-login-form>
    </mat-expansion-panel>
  </form>

  <span class="hf-spacer"></span>
  <span class="hf-spacer"></span>

</div>
