<mat-toolbar class="blue-toolbar mat-elevation-z5">
  <span style="flex: 1 1 auto;"></span>
  <div class="blue-row" style="height: 70px; width: 60%; border-radius: 50px; background-color: white;"
    (click)="search = !search">
    <span *ngIf="!search" class="blue-spacer">
      <span class="search-text">
        <fa-icon icon="search" size="lg"></fa-icon>
        &nbsp;&nbsp;&nbsp;{{gbl('search-button')}}
      </span>
    </span>
    <app-modules-selector *ngIf="!search"></app-modules-selector>
    <app-search-bar *ngIf="search" style="min-width: 100% !important"></app-search-bar>
  </div>
</mat-toolbar>
