.selector, .selector-group {
  border: 0px !important;
}
.selector {
  color: dimgrey;
}
.selector-group {
  height: 70px;
  border-radius: 0px !important;
}
.selector:hover {
  font-size: large;
  background-color: var(--blue-support-color) !important;
}
