<mat-toolbar class="blue-no-select licence-bar mat-elevation-z3"
  [style]="'background-color: ' + status.backcolor + ';'">
  <div class="blue-column status-icon" [style]="'color: ' + status.color + ';'">
    <fa-icon [icon]="status.icon" size="2x"></fa-icon>
  </div>

  <div class="blue-column" style="margin: 20px; margin-top:30px;">
    <span style="font-size: small; margin-bottom: -10px;">{{licence[0].code.toUpperCase()}}</span>
    <span style="font-size: larger;">{{gbl(licence[0].title)}}</span>
    <div class="blue-row">
      <mat-form-field style="margin-right: 15px; font-size: medium; width: 250px;">
        <input matInput type="text" [(formControl)]="form" (input)="setStatusToWaiting();">
      </mat-form-field>
      <button mat-raised-button class="licence-button mat-elevation-z0"
        [matTooltip]="gbl(labels.LICENCE_NEWTRIAL_TOOLTIP)" [disabled]="licence[0].code && licence[0].serial"
        (click)="generateTrialLicence();">
        {{gbl(labels.LICENCE_NEWTRIAL)}}
        <fa-icon style="margin-left: 5px" icon="receipt" size="lg"></fa-icon>
      </button>
    </div>
  </div>

  <div class="blue-flex-right blue-column" style="width: 100%; align-items: flex-end;">
    <span class="licence-status">
      <span [matTooltip]="gbl(labels.LICENCE_STATUS_TOOLTIP) + gbl(status.title).toUpperCase()"
        matTooltipPosition="left">
        {{gbl(status.title)}}
      </span>
    </span>
    <div class="blue-row">
      <button mat-raised-button class="info-button mat-elevation-z0" [disabled]="isLicenceMissing()" [matTooltip]="gbl(labels.LICENCE_INFO_TOOLTIP)">
        <fa-icon icon="info-circle" size="lg"></fa-icon>
      </button>
      <button mat-raised-button class="contract-button mat-elevation-z0" [disabled]="isLicenceMissing()"
        [matTooltip]="gbl(labels.LICENCE_CONTRACT_TOOLTIP)">
        {{gbl(labels.LICENCE_CONTRACT)}}
        <fa-icon style="margin-left: 5px;" icon="download" size="lg"></fa-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<!--HF-2020-LFJKTZSWQAOPIYT-->
