<mat-toolbar class="blue-no-select mat-elevation-z3" style="height: 130px; background-color: lightgoldenrodyellow; width: 100%;">
  <div class="blue-column" style="margin: 20px; color: green">
    <fa-icon icon="check-circle" size="2x"></fa-icon>
  </div>
  <div class="blue-column" style="margin: 20px; margin-top:30px;">
    <span style="font-size: small; margin-bottom: -10px;">LIMITED-TRIAL-LICENCE</span>
    <span style="font-size: larger;">Licenza di prova gratuita a durata limitata</span>
    <div class="blue-row">
      <mat-form-field style="margin-right: 15px; font-size: medium; width: 250px;">
        <input matInput type="text">
      </mat-form-field>
      <button mat-raised-button class="mat-elevation-z0" style="height: 40px; margin: 10px; background-color: transparent; border-radius: 0px;" matTooltip="Richiedi una licenza di prova gratuita">
        Nuova licenza
        <fa-icon style="margin-left: 5px" icon="receipt" size="lg"></fa-icon>
      </button>
    </div>
  </div>
  <div class="blue-flex-right blue-column" style="width: 100%; align-items: flex-end;">

      <span style="width: 195px; margin-top: 20px; margin-bottom: -10px; margin-right: 50px; text-align: right;" matTooltip="Stato licenza: ATTIVA">
        Attiva
      </span>
    <div class="blue-row">
      <button mat-raised-button class="info-button mat-elevation-z0" matTooltip="Maggiori informazioni sulla licenza in uso">
      <fa-icon icon="info-circle" size="lg"></fa-icon>
      </button>
      <button mat-raised-button class="contract-button mat-elevation-z0" matTooltip="Scarica il contratto di utilizzo">
        Contratto
        <fa-icon style="margin-left: 5px;" icon="download" size="lg"></fa-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<!--HF-2020-LFJKTZSWQAOPIYT-->
