<div class="standard-container">

  <as-split class="standard-split mat-elevation-z8" useTransition="true" (gutterClick)="openInformationsFull();" (transitionEnd)="sizeColumnsToFit();" (dragEnd)="sizeColumnsToFit();"
    [direction]="'orizontal'">

    <as-split-area [size]="getTableSize()" class="standard-container-table">

      <ag-grid-angular #agGrid class="ag-theme-material standard-table" [rowData]="rowData" [columnDefs]="columnDefs"
        [gridOptions]="gridOptions" (gridReady)="gridReady($event);" (rowClicked)="openInformations($event);"
        rowSelection="single" [frameworkComponents]="frameworkComponents"
        [loadingOverlayComponent]="loadingOverlayComponent" [noRowsOverlayComponent]="emptyOverlayComponent"
        [noRowsOverlayComponentParams]="emptyOverlayParams">
      </ag-grid-angular>

    </as-split-area>

    <as-split-area *ngIf="getInfoSize() > 0" [size]="getInfoSize()" class="standard-container-info mat-elevation-z8">

    </as-split-area>

  </as-split>

</div>
