<div class="blue-row">
  <h1 style="text-align: center;">
    <span [innerHTML]="customWelcomeMessage">asas</span>
    <!--Accedi a <b>Outblue</b>-->
  </h1>
</div>

<!--<mat-error>Impossibile fare il login</mat-error>-->

<div class="blue-row">
  <mat-form-field style="margin-right: 15px;" floatLabel="never">
    <input matInput type="text" [(formControl)]="username" [placeholder]="gbl(labels.LOGIN_USERNAME)" (input)="checkIfUserExists();">
  </mat-form-field>

  <mat-form-field floatLabel="never">
    <input matInput [type]="hide ? 'password' : 'text'" [(formControl)]="password" [placeholder]="gbl(labels.LOGIN_PASSWORD)" (keyup.enter)="login();">
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <fa-icon [icon]="hide ? 'eye-slash' : 'eye'" size="lg" [matTooltip]="hide ? gbl(labels.LOGIN_PASSWORD_SHOW) : gbl(labels.LOGIN_PASSWORD_HIDE)" matTooltipPosition="right">
      </fa-icon>
    </button>
  </mat-form-field>
</div>

<div class="blue-row blue-flex-right" style="text-align: right;">
  <button mat-raised-button class="login-button" [matTooltip]="gbl(labels.LOGIN_TOOLTIP)" (click)="login();">
    <fa-icon icon="sign-in-alt" size="lg"></fa-icon>
  </button>
  <button mat-raised-button class="registration-button" [matTooltip]="gbl(labels.REGISTRATION_TOOLTIP)" (click)="openRegisterWindow();">
    {{gbl(labels.REGISTRATION)}}
  </button>

</div>

<!--
  <div class="blue-row">
  <button mat-button style="width: 10%;" title="Crea un account">
    <fa-icon class="button-icon" icon="plus" size="lg"></fa-icon>
  </button>
  <button mat-button style="width: 90%;" title="Esegui il login">
    Login
    <fa-icon class="button-icon" icon="sign-in-alt" size="lg"></fa-icon>
  </button>
</div>-->
