.example-margin {
  margin-right: 20px;
}

.menu-button {
  width: 100%;
  text-align: left;
  padding: 5px 15px;
  font-size: medium;
  color: dimgrey;
  border-radius: 0px !important;
}
.menu-button:hover {
  color: black;
  background-color: var(--blue-support-color);
}

.menu-icon {
  margin-right: 10px;
}
