<div style="margin-left: 20px;">
  <button mat-button title="Messaggi Utente" style="border-radius: 20px; color: white;">
    <fa-icon icon="envelope" size="lg"></fa-icon>
  </button>

  <button mat-button [matMenuTriggerFor]="user" title="Profilo Utente" style="border-radius: 20px; color: white;">
    Marco Ambrosi
    <fa-icon icon="user-circle" size="lg" style="margin-left:10px;"></fa-icon>
  </button>
</div>


<mat-menu #user="matMenu">
  <div style="width: 250px;" *ngFor="let button of menuButtons">
    <button mat-button *ngIf="button.type === 'main'" class="menu-button">
      <span class="menu-icon">
        <button mat-icon-button>
          <fa-icon [icon]="button.icon" size="lg"></fa-icon>
        </button>
      </span>
      <span>{{gbl(button.title)}}</span>
    </button>
    <mat-divider *ngIf="button.type === 'line'"></mat-divider>
  </div>



</mat-menu>
