.register-icon {
  margin-left: 30px;
  margin-right: 60px;
}
.register-form {
  width: 250px;
  font-size: medium;
}

.register-send {
  margin: 20px;
  border-radius: 0px;
  padding: 5px 15px !important;
}
