<app-standard-toolbar [title]="title" [icon]="icon"></app-standard-toolbar>

<div style="margin: 20px; margin-bottom: 100px;">
  <div class="blue-row">
    <div class="blue-column blue-flex-center">
      <fa-icon class="register-icon" icon="user-circle" size="2x"></fa-icon>
    </div>
    <div class="blue-column">
      <div class="blue-row">
        <mat-form-field class="register-form" floatLabel="never">
          <input matInput [(formControl)]="name" [placeholder]="gbl(labels.REGISTRATION_NAME)" type="text" required>
        </mat-form-field>
      </div>
      <div class="blue-row">
        <mat-form-field class="register-form" floatLabel="never">
          <input matInput [(formControl)]="surname" [placeholder]="gbl(labels.REGISTRATION_SURNAME)" type="text" required>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="blue-row">
    <div class="blue-column blue-flex-center">
      <fa-icon class="register-icon" icon="envelope" size="2x"></fa-icon>
    </div>
    <div class="blue-column">
      <div class="blue-row">
        <mat-form-field class="register-form" floatLabel="never">
          <input matInput [(formControl)]="mail" [placeholder]="gbl(labels.REGISTRATION_MAIL)" type="text" required>
        </mat-form-field>
      </div>
      <div class="blue-row">
        <mat-form-field class="register-form" floatLabel="never">
          <input matInput [(formControl)]="username" [placeholder]="gbl(labels.REGISTRATION_USERNAME)" type="text" required>
        </mat-form-field>
      </div>
    </div>
    <div class="blue-column blue-flex-center" style="margin-left: 100px;">
      <fa-icon class="register-icon" icon="key" size="2x"></fa-icon>
    </div>
    <div class="blue-column">
      <div class="blue-row">
        <mat-form-field class="register-form" floatLabel="never">
          <input matInput [(formControl)]="password" [placeholder]="gbl(labels.REGISTRATION_PASSWORD)" type="password" required>
        </mat-form-field>
      </div>
      <div class="blue-row">
        <mat-form-field class="register-form" floatLabel="never">
          <input matInput [(formControl)]="passwordConfirm" [placeholder]="gbl(labels.REGISTRATION_PASSWORDCONFIRM)" type="password" required>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<app-standard-licence-bar></app-standard-licence-bar>

<div class="blue-flex-right">
  <button mat-raised-button class="blue-green-button" [disabled]="!canRegister()" mat-dialog-close>
    Invia email di conferma
    <fa-icon style="margin-left: 5px;" icon="paper-plane" size="lg"></fa-icon>
  </button>
</div>

